html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my text */
html {
    background-color: limegreen;
}

.old-html {
    background-color: purple;
}

body {
    background-color: rgb(241, 243, 244);
    /* height: 90vh; */
}

main {
    background-color: rgb(241, 243, 244);
}

#index-main {
    height: 90vh;
}

.main-header {
    background-color: chartreuse;
    height: 3rem;
    width: 100%;
    display: inline-block;
}

.old-header {
    background-color: purple;
}

#translation-icon {
    width: 2.5rem;
    height: auto;
    float: right;
    margin: 0.3rem 0.3rem 0 0;
}

#back-icon {
    width: 2.5rem;
    height: auto;
    float: right;
    margin: 0.3rem 0.3rem 0 0;
}

#return-btn {
    color: rgb(84, 89, 93);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0 0;
    padding-left: 0.3rem;
    float: right;
}

#return-btn-cn {
    color: rgb(84, 89, 93);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.54rem 1rem 0 0;
    padding-left: 0.2rem;
    float: right;
}

#cursive-heading {
    font-family: 'Dancing Script', cursive;
    color: gray;
    text-decoration: none;
    display: inline-block;
    margin: 0.3rem 0 0 0.5rem;
    font-size: 1.5rem;
}

#cursive-heading-cn {
    font-family: 'Dancing Script', cursive;
    color: gray;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0 0 0.5rem;
    font-size: 1.5rem;
}

.idiom-button {
    padding: 6px 12px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 0.225rem 0.8rem 0 0.5rem;
    float: right;
    color: #fff;
    /* text-decoration: none; */
    font-size: 1.25em;
}

.old-idiom-button {
    background-color: #777;
}

.idiom-button:hover {
    cursor: pointer;
}

.idiom-span:hover {
    border-bottom: 2px solid #fff;
}

.lesson-heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: none;
}

.or {
    font-size: 0.9rem;
}

.white-page {
    margin: 4rem 12rem;
    padding: 4rem;
    border: 1px solid #dadce0;
    background-color: #fff;
    /* border-shadow */
    height: 100%;
    border-radius: 8px;
}

.white-page-2 {
    margin: 4rem 12rem;
    padding: 4rem;
    border: 1px solid #dadce0;
    background-color: #fff;
    /* border-shadow */
    height: 150vh;
    border-radius: 8px;
}

.blank-div {
    visibility: hidden;
    height: calc(90vh - 3rem);
    /* change rem amount */
}

.main-content {
    position: relative;
    text-align: center;
    bottom: 60vh;
}

#body-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.lesson-title {
    margin-top: 2rem;
}

.lesson-body {
    margin-top: 1rem;
}

.lesson-link {
    font-weight: bold;
    text-decoration: none;
}

.pdf-span {
    color: #fff;
    background-color: crimson;
    padding: 2px 3px;
    border-radius: 4px;
}

footer {
    background-color: limegreen;
    height: 10vh;
}

.old-footer {
    background-color: purple;
}

.footer-text {
    text-align: center;
    color: #fff;
}

.email-text {
    margin-top: 10px;
}